# Általános dolgok
*.pyc
*~
__pycache__/
.DS_Store
.env
db.sqlite3
myvenv/

# Média és statikus fájlok (amiket nem verziókövetsz)
media/
static/

# TÖKÉLETESEN FINE-TUNE-OLT MIGRÁCIÓ IGNORE:
# Minden migráció marad, kivéve cache
*/migrations/__pycache__/