{% load static %}
{% block content %}

<div class="container-fluid arlista" id="arhely">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-one owl-carousel owl-theme">    
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="portre.html">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/carousel4.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>PORTRÉ</strong></center></h2></p><hr>
                            <p class="hirtartalom">Sétáljunk egyet a városban? Vagy készítsünk családi képeket a Normafán?</p>
                            <p class="hirtartalom"><h3>20e Ft/órától</h3></p><br>
                            <a href="portre.html"><button class="segitscard-button">Részletek</button></a>
                        </div>
                    </div>
                </div>
                <div  class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="eskuvo.html">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/carousel1.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>ESKÜVŐ</strong></center></h2></p><hr>
                            <p class="hirtartalom">Készülődéstől a lagziig vagy csak polgári esküvő? Érdeklődj a lehetőségekről!</p>
                            <p class="hirtartalom"><h3>10e Ft/órától</h3></p><br>
                            <a href="eskuvo.html"><button class="segitscard-button">Részletek</button></a>
                        </div>
                    </div>
                </div>
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="termek.html">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/tekecs-szembol-atlosan-feher-hatterorig-2.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>TERMÉKFOTÓZÁS</strong></center></h2></p><hr>
                            <p class="hirtartalom">Népszerűsítenéd terméked, vagy webáruházhoz szeretnél minőségi fotókat?</p>
                            <p class="hirtartalom"><h3>2000Ft/képtől</h3></p><br>
                            <a href="termek.html"><button class="segitscard-button">Részletek</button></a>
                        </div>
                    </div>
                </div>
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="marketing.html">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Marketingvideo/webdesign.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>MARKETING</strong></center></h2></p><hr>
                            <p class="hirtartalom">Szeretnéd a vállalkozásod profi fotókkal bemutatni? Kérjél tőlem honlapot is! Ezt a kihívást kedvelem a legjobban!</p>
                            <p class="hirtartalom"><h3>150e Ft/honlaptól</h3></p><br>
                            <a href="marketing.html"><button class="segitscard-button">Részletek</button></a>
                        </div>
                    </div>
                </div>
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="kiskedvenc.html">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Kisallatfotozas/PANA7120-3.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>KISKEDVENC FOTÓZÁS</strong></center></h2></p><hr>
                            <p class="hirtartalom">Óriási kedvenvem az állatfotózás, szabadidőmben menhelyek számára szoktam fotózni. Szeretél néhány minőségi képet a barátodról, hogy örökre szép emlék maradjon?</p>
                            <p class="hirtartalom"><h3>15e Ft/fotózástól</h3></p><br>
                            <a href="kiskedvenc.html"><button class="segitscard-button">Részletek</button></a>
                        </div>
                    </div>
                </div>
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="video.html">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Video/videocover.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>VIDEO</strong></center></h2></p><hr>
                            <p class="hirtartalom">Marketingvideóra van szükséged vállalkozásod népszerűsítéséhez? Üljön össze, készítsünk forgatókönyvet és vágjunk bele!</p>
                            <p class="hirtartalom"><h3>50e Ft-tól</h3></p><br>
                            <a href="video.html"><button class="segitscard-button">Részletek</button></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>            
</div>
{% endblock content %}