{% extends 'main.html'%}
{% load static %}       
{% block content %}

<section class="bloglist-section">
  <div class="container-fluid" style="height: 3vw"></div>        
  <center><h1>Blog</h1></center>
  <h2>Cikkek, bejegyzések - technika | felkészülés | utómunka | filozofálás</h2>
  <div class="container-fluid" style="height: 4vw"></div>        
  <div class="container-fluid bloglist">
  {% for blogpost in bloglist %}
    {% if forloop.counter0|divisibleby:3 or forloop.first %}
      <div class="row">
    {% endif %}
              <div class="col-xxl-4 col-lg-12 pb-5">
                  <div class="box-element-blog">
                      <div class="blogpic-constraint">
                          <a href="{% url 'blog_detail' slug=blogpost.slug %}">
                              <div class="blogpic">
                                  <img src={{ blogpost.main_image.url }} class="cover-blog">
                              </div>
                          </a>
                      </div>
                      <div class="blog">
                          <p><h2><center><strong>{{ blogpost.title }}</strong></center></h2></p>
                          <p class="hirtartalom">{{ blogpost.extract|truncatechars:150 }}</p>
                      </div>
                  <a href="{% url 'blog_detail' slug=blogpost.slug %}" class="btn-elolvasom">
                      Elolvasom
                  </a>    
                  </div>
              </div>
      {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
          <div class="row" style="height: 50px"></div>  
      {% endif %}
      {% endfor %}
  </div>   
</section>

{% endblock content %}