{% extends 'main.html'%}
{% load static %}       
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro">főoldal</a>
        </li>
        <li><a class="nav-link" href="eskuvo">esküvői fotózás</a></li>
        <li><a class="nav-link" href="portre">portréfotózás</a></li>
        <li><a class="nav-link" href="kutyafotozas">kutyafotózás</a></li>
        <li><a class="nav-link" href="video">videokészítés</a></li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="blog">blog</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="kapcsolat" target="blank">kapcsolat</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.facebook.com/nagipix" target="blank"><i class="fa-brands fa-facebook socicon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 
        
<div class="containter-fluid blog-post">
    <div class="container-fluid" style="height: 100px"></div>        
    <div class="row">
        <div class="col-lg-0 col-md-3"></div>
        <div class="col-lg-12 col-xl-6 blog-content">
            <img src={{ blogpost.main_image.url }} class="blogpost-header-picture"><br><br>
            <h1>{{ blogpost.title }}</h1>
            <p class="datum">{{ blogpost.created_at|date:"M d, Y"  }}</p>
            {{ blogpost.content.html|safe }}
            <div class="back-wrapper"><a href="blog" class="btn-blog-vissza">Vissza a többi poszthoz!</a></div>
        </div>
        <div class="col-lg-0 col-md-3"></div>
    </div>
    <div class="container-fluid" style="height: 100px"></div>
</div>
    
</section>

{% endblock content %}