<h2><center>{{ year }}. {{ month_name }}</center></h2>
<div class="d-flex justify-content-between mb-3">
    <a href="{% url 'calendar_partial' %}?month={{ prev_month }}&year={{ prev_year }}" 
       class="btn btn-outline-primary calendar-navigation" 
       hx-get="{% url 'calendar_partial' %}?month={{ prev_month }}&year={{ prev_year }}" 
       hx-target="#calendar-container" 
       hx-swap="innerHTML">
       &larr; Előző hónap
    </a>
    <a href="{% url 'calendar_partial' %}?month={{ next_month }}&year={{ next_year }}" 
       class="btn btn-outline-primary calendar-navigation" 
       hx-get="{% url 'calendar_partial' %}?month={{ next_month }}&year={{ next_year }}" 
       hx-target="#calendar-container" 
       hx-swap="innerHTML">
       Következő hónap &rarr;
    </a>
</div>
<table class="table table-bordered text-center">
    <thead>
        <tr>
            {% for day in days_of_week %}
                <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for week in calendar_data %}
        <tr>
            {% for day in week %}
            <td class="calendar-cell {% if day.status == 'green' %}bg-success text-white{% elif day.status == 'red' %}bg-danger text-white{% elif day.status == 'yellow' %}bg-warning{% else %}bg-light{% endif %}">
                {% if day.status != 'empty' %}
                    <div>
                        {{ day.date.day }}
                    </div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>