{% extends 'main.html'%}
{% load static %}       
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro">főoldal</a>
        </li>
        <div class="btn-group">
          <button type="button" class="btn"> <a href="intro.html#arak">lehetőségek</a></button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="portre">portréfotózás</a></li>
            <li><a class="dropdown-item" href="termek">termékfotózás</a></li>
            <li><a class="dropdown-item" href="marketing">marketing</a></li>
            <li><a class="dropdown-item" href="kiskedvenc">kiskedvenc fotózás</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="video">videokészítés</a></li>
          </ul>
        </div>
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro#contact" target="blank">kapcsolat</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- CAROUSEL -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-pause="false">  
  <div class="carousel-inner1">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src={% static '/app_brandon_photography/images/Carousel/Eskuvo/Carousel1.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Eskuvo/Carousel2.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Eskuvo/Carousel3.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
  </div>
</div>


<section>

    <div class="container-fluid category-header">
        <div class="row g-0">
            <div class="col-xl-2 col-xs-0 col-sm-0"></div>
            <div class="col-xl-5 col-xs-12 col-sm-12"> 
                <div class="visioncard vs-card-header">
                    <h1>Esküvői fotózás</h1>
                    <p>Az esküvő az egyik legkedvesebb terep egy fotós számára, ha igazi, mély érzelmeket szeretne megörökíteni.</p>
                    <p>Polgári szertartástól, a teljes esküvő megörökítéséig, kreatív fotózással - keress bátran!</p>
                </div>
            </div>
            <div class="col-xl-5 col-xs-12 col-sm-12">
                <div>
                    <img src={% static '/app_brandon_photography/images/Carousel/Eskuvo/kozepes.jpg' %}  class="fokartya-foto"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 2vw">
    </div>
    
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    <div class="row"><div class="col"><h2 style="font-size: 44px;">A FOTÓZÁS MENETE</h2></div></div>
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/konzultacio.png' %} class="icon" />
                    <h2>Konzultáció</h2>
                    <p>Ingyenes beszélgetés telefonon, chaten vagy videóhívás formájában. Megbeszéljük milyen elképzeléseitek vannak a nagy nappal kapcsolatban, és így néhány napon belül konkrét árajánlattal és szerződéstervezettel tudok előállni.</p>
                    <p>Fontos, hogy ez még csak egy ingyenes konzultáció, semmilyen kötelezettséggel nem jár, ezután is ráértek dönteni, hogy bele szeretnétek-e vágni velem.</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/alairas.png' %} class="icon" />
                    <h2>Szerződés</h2>
                    <p>Megírom a szerződéstervezetet, amelyben kitérünk a részletekre. Fotók mennyisége, rendelkezésre állás ideje, fotók átadásának formája, fizetési feltételek. A szerződést van időtök átolvasni, átgondolni, ha valamit módosítanátok.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/visit.png' %} class="icon" />
                    <h2>Találkozás, helyszínfelmérés</h2>
                    <p>Felkészülés során számomra nagyon fontos, hogy személyesen is megismerkedhessek a párral, és a helyszínnel. Ez kiváló alkalom a szerződés aláírására, és a foglalóval kapcsolatos ügyintézésre is. </p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/fotozas.png' %} class="icon" />
                    <h2>Esküvő</h2>
                    <p>Beszédes pont. Találkozzunk az előre megbeszéltek szerint, ti oldódjatok fel, én pedig intézem a szép emlékek megörökítését. </p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/share.png' %} class="icon" />
                    <h2>Képek átadása, fizetés</h2>
                    <p>A szerződésben rögzített időpontig, az előre megbeszélt módon átadom a képeket. Leggyakrabban ez egy felhőtárhely. Ezután kiállítom a számlát, és ti kifizetitek a fennálló összeget. Nagy örömmel veszem az őszinte visszajelzéseket, hisz ezek segítségével lehet csak igazán fejlődni.</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    
<div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>

<!-- PARALLAX -->
<div class="parallax"></div>

<!-- CSOMAGOK -->
<div class="container-fluid arlista" id="arhely">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-one owl-carousel owl-theme">
            
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Eskuvo/kis.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong></strong>Kis Csomag - Szertartás</center></h2></p><hr>
                            <p class="hirtartalom">~2 óra fotózás</p>
                            <p class="hirtartalom">400 kép</p>
                            <p class="hirtartalom">50 kép kidolgozva</p>
                            <p class="hirtartalom">1 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>60.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
                
                <div  class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Eskuvo/kozepes.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong></strong>Közepes Csomag</center></h2></p><hr>
                            <p class="hirtartalom">6-8 óra fotózás</p>
                            <p class="hirtartalom">500 kép</p>
                            <p class="hirtartalom">100 kép kidolgozva</p>
                            <p class="hirtartalom">3 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>100.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
                
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Eskuvo/nagy.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>Nagy Csomag</strong></center></h2></p><hr>
                            <p class="hirtartalom">~Készülődés, szertartás, vacsora és lagzi</p>
                            <p class="hirtartalom">>500 kép</p>
                            <p class="hirtartalom">>100 kép kidolgozva</p>
                            <p class="hirtartalom">3 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>150.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
                
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Eskuvo/kreativ.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>Kreatív Fotózás</strong></center></h2></p><hr>
                            <p class="hirtartalom">~2 óra fotózás számotokra kedves helyszínen</p>
                            <p class="hirtartalom">>100 kép</p>
                            <p class="hirtartalom">15 darab retusált kép</p>
                            <p class="hirtartalom">1 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>50.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
        </div>
    </div>            
</div>


<!-- PARALLAX2 -->
<div class="parallax-kisallat-2"></div>


<!-- KISALLAT GALERIA -->
<div class="container-fluid kisallat-carous">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-three owl-carousel owl-theme owl-centered">
              {% for picture in pictures %}
                    <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                            <img src={{ picture.photo_tumb.url }}></img>
                    </a>

              {% endfor %}
            </div>
        </div>
    </div>
</div>

</section>

{% endblock content %}