{% extends 'main.html'%}
{% load static %}       
{% block content %}



<div class="container-fluid">
  {% for category in categories %}
    {% if forloop.counter0|divisibleby:4 %}
        <div class="row foto-gallery">
    {% endif %}
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-tn-12 container-fluid">
                  <a href='gallery.html?gallery_id={{ category.pk }}'>
                    <div class="wrapperconstraint">
                      <div class="wrapper">
                          <img src={{ category.category_cover.url }}  alt="Avatar" class="img img-responsive full-width" >
                          <div class="description">
                              {{ category.name|upper }}
                          </div>
                      </div>
                    </div>
                  </a>
          </div>
    {% if forloop.counter|divisibleby:4  or forloop.last %}
        </div>
    {% endif %}

  {% endfor %}

</div>

{% endblock content %}