{% extends 'main.html'%}
{% load static %}       
{% block content %}


<div class="container-fluid gallery">
    <div class="row no-gutters">
      {% for picture in pictures %}
          {% if forloop.counter0 in bplist %}
          <div class="col-lg-4 col-md-12 pr-1">
          {% endif %}
            <a href={{ picture.photo.url }} data-lightbox="mygallery">
                <div class="wrapperconstraint-gallery">
                    <img src={{ picture.photo_tumb.url }} class="ongray" />
                </div>
            </a>
          {% if forloop.counter in bplist  or forloop.last %}
          </div>
          {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock content %}