{% extends 'main.html'%}
{% load static %}       
{% block content %}

<div class="container" style="height: 100px";></div>
<h2>{{ category.0.name }}</h2></h2>
<div class="container-fluid gallery">
    <div class="row g-0">
      {% for picture in pictures %}
          {% if forloop.counter0 in bplist %}
          <div class="col-lg-4 col-md-12">
          {% endif %}
            <a href={{ picture.photo.url }} data-lightbox="mygallery">
                <div class="wrapperconstraint-photo-gallery">
                    <img src={{ picture.photo_tumb.url }} class="ongray" />
                </div>
            </a>
          {% if forloop.counter in bplist  or forloop.last %}
          </div>
          {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock content %}