{% extends 'main.html'%}
{% load static %}       
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
        <ul class="navbar-nav">
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro.html">főoldal</a>
        </li>
        <li><a class="nav-link" href="eskuvo.html">esküvői fotózás</a></li>
        <li><a class="nav-link" href="portre.html">portréfotózás</a></li>
        <li><a class="nav-link" href="kiskedvenc.html">kutyafotózás</a></li>
        <li><a class="nav-link" href="video.html">videokészítés</a></li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="blog">blog</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro.html#contact" target="blank">kapcsolat</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
    </div>
</nav>

<div class="container" style="height: 100px";></div>
<h2>{{ category.0.name }}</h2></h2>
<div class="container-fluid gallery">
    <div class="row g-0">
      {% for picture in pictures %}
          {% if forloop.counter0 in bplist %}
          <div class="col-lg-4 col-md-12">
          {% endif %}
            <a href={{ picture.photo.url }} data-lightbox="mygallery">
                <div class="wrapperconstraint-photo-gallery">
                    <img src={{ picture.photo_tumb.url }} class="ongray" />
                </div>
            </a>
          {% if forloop.counter in bplist  or forloop.last %}
          </div>
          {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock content %}