{% extends 'main.html'%}
{% load static %}       
{% block content %}
<!-- IMPRESSZUM -->
<div class="container-fluid" style="height: 2vw">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-0"></div>
        <div class="col-sm-8 col-12">
            <div class="box-element">
                <br><br><br><br><br><br><br><br>
                <p class="hirtartalom"><b>Cégnév:</b> Nagy Ádám E.V.</p>
                <p class="hirtartalom"><b>Cím:</b> 2484, Gárdony, Sigray István utca 2b.</p>
                <p class="hirtartalom"><b>Email:</b> info@nagipix.hu</p>
                <p class="hirtartalom"><b>Adószám:</b> 59928496-1-27</p>
                <p class="hirtartalom"><b>Tárhelyszolgáltató:</b> PythonAnywhere LLP</p>
                <p class="hirtartalom"><b>Tárhelyszolgáltató széhelye:</b> 5 The Green, Richmond TW9 1PL United Kingdom </p>
                <p class="hirtartalom"><b>Tárhelyszolgáltató emailcíme:</b> support@pythonanywhere.com</p>
            </div>
        </div>
        <div class="col-sm-2 col-0"></div>
    </div>
</div>
<div class="container-fluid" style="height: 2vw">
</div>

</section>

{% endblock content %}