{% extends 'main.html'%}
{% load static %}
{% block content %}

<!-- KAPCSOLAT -->
<div class="container-fluid">
    <div class="row">
          <div class="col-xl-6 col-12 form-group fg-left">
              <h1>Kapcsolat</h1><br>
              <p>
                    Amennyiben kérdésed van, árajánlatot szeretnél kérni vagy ajándékutalványt vásárolnál használd az űrlapot vagy keress az elérhetőségeimen!<br><br><h2>Nagy Ádám</h2>
              </p>
              <p>
              <center><a href="http://m.me/nagipix" target="_blank" class="contact-button"><img src="{% static 'app_brandon_photography/images/Icons/messenger.png' %}" alt="messenger ikon"> &nbsp facebook messenger </a></center>
              </p>
              <p>
              <center><a href="mailto:info@nagipix.hu" target="_blank" class="contact-button"><img src="{% static 'app_brandon_photography/images/Icons/envelope.png' %}" alt="levél ikon">&nbsp info@nagipix.hu </a></center>
              </p>
              <p>
              <center><a href="tel:+36303374177" target="_blank" class="contact-button"><img src="{% static 'app_brandon_photography/images/Icons/telephone.png' %}" alt="telefon ikon">&nbsp +36 30 337 4177 </a></center>
              </p>              
              <br><br>
          </div>
          <div class="col-xl-6 col-12 form-group fg-right"><br><br>
                          <form method="post">
                          {% csrf_token %}
                              {{form.as_p}}

                              <br><div style="text-align: center;"><button type="submit" class="segitscard-button" style="text-align: center; margin: 0 auto;">elküldöm</button></div>
                          </form><br><br><br><br><br><br><br><br>
          </div>
    </div>
</div>
<br><br>
<div class="container mt-4">
    <h1 style="color: #757575;"><center>Elérhetőségem </center></h1>
    <p class="hasznalati">
    <center>Ez a naptár segít eligazodni a szabadtéri kutyafotózási időpontok elérhetőségeiben. A napok színezése alapján könnyen tájékozódhatsz:</center><br>
        <b>Zöld napok</b> <br>Ezeken a napokon jelenleg szabad vagyok, és szívesen várlak egy megbeszélésre vagy fotózásra. Az elérhetőségeimen tudsz érdeklődni a részletekről.<br>
        <b>Piros napok</b> <br>Sajnos ezekre a napokra már nincs szabad időpontom, így itt nem tudok időpontot biztosítani.
    
    Amennyiben kérdésed van vagy szeretnél időpontot foglalni, bátran keress a megadott elérhetőségeimen! 😊</p>
    <div id="calendar-container">
        <!-- A naptár betöltése itt történik -->
        {% include 'calendar_partial.html' %}
    </div>
</div>
<br><br><br><br>
{% endblock content %}