{% extends 'main.html'%}
{% load static %}       
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro.html">főoldal</a>
        </li>
        <div class="btn-group">
          <button type="button" class="btn"> <a href="intro.html#arak">lehetőségek</a></button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="eskuvo.html">esküvői fotózás</a></li>
            <li><a class="dropdown-item" href="portre.html">portréfotózás</a></li>
            <li><a class="dropdown-item" href="termek.html">termékfotózás</a></li>
            <li><a class="dropdown-item" href="marketing.html">marketing</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="video.html">videokészítés</a></li>
          </ul>
        </div>
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro.html#contact" target="blank">kapcsolat</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
      </ul>
    </div>
</nav>

<!-- CAROUSEL -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-pause="false">  
  <div class="carousel-inner1">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/Carousel1.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/Carousel2.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/Carousel3.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
  </div>
</div>


<section class="kiskedvenc">

    <div class="container-fluid category-header">
        <div class="row g-0">
            <div class="col-xl-2 col-xs-0 col-sm-0"></div>
            <div class="col-xl-5 col-xs-12 col-sm-12"> 
                <div class="visioncard vs-card-header">
                    <h2>Kiskedvenc/Háziállat fotózás</h2>
                    <p> Egy fotós számára igen komoly kihívás lehet egy állat fotózása, hiszen az portré és tárgyfotózáshoz képest nehezebb hatni az alanyunkra. Éppen ezen nehézségek miatt tölt el örömmel, mikor hosszasan utómunkázok 1-1 jól elkapott pillanatot gazdi és állata között, vagy éppen ha egy tréfás állati grimaszt sikerül megörökítenem. </p>
                    <p>Nálam lehetőség van szabadtéri és beltéri fotózásra is. A fotózás részleteihez, árakhoz, és az eddigi fotóimhoz görgess tovább.</p>
                </div>
            </div>
            <div class="col-xl-5 col-xs-12 col-sm-12">
                <div>
                    <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/PANA7223-2.jpg' %}  class="fokartya-foto"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 2vw">
    </div>
 
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/konzultacio.png' %} class="icon" />
                    <h2>Konzultáció</h2>
                    <p>Nagy hangsúlyt igyekszem fektetni a korrekt kommunikációra. Ha megtetszettek a képek, és úgy gondolod, hogy te is szeretnél kiskedvencedről, vagy kiskedvencedről és gazdáiról egy vidám hangulatú fotózáson profi képeket csinálni, vedd fel velem a kapcsolatot, és egy előre megbeszélt időpontban telefonon/messengeren/videóhívásban megbeszéljük, hogy milyen elképzeléseid vannak.</p>
                    <p>Fontos, hogy ez még csak egy ingyenes konzultáció, amely után pontosan meg tudom mondani a fotózás árát, illetve a képek elkészültének idejét. Semmilyen kötelezettséggel nem jár, ezután is ráérsz dönteni, hogy bele szeretnél-e vágni velem.</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/kommunikacio.png' %} class="icon" />
                    <h2>Felmerültek még kérdéseid?</h2>
                    <p>Semmi gond, jó eséllyel nekem is, így van lehetőségünk ezt megvitatni a konzultáció után. Megegyezünk a pontos időpontban (külső helyszín, studió), esetleg "esőnapban", ha az időjárási körülmények kevésbé kedvezőek.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/alairas.png' %} class="icon" />
                    <h2>Szerződés</h2>
                    <p>Minden fotózás során szerződést szoktam írni. Nem kell megijedni, csupán rögzítjük, hogy mint megrendelő mit vársz el, és a fizetés feltételeit is itt rögzítjük. Aláírni állatfotózás esetében bőven elég amikor sor kerül a fotózásra.</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/fotozas.png' %} class="icon" />
                    <h2>Fotózzunk</h2>
                    <p>Hiszen ezért vagy itt! Az előre megbeszélt helyszínre és időpontra hozd el kiskedvenced és lássunk neki. Szentelünk időt arra is, hogy mindenki feloldódjon, és nem fogjuk svájci atomórával mérni a fotózásra szentelt időt, csak abban a kivételes esetben, ha sietsz valahová!</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/share.png' %} class="icon" />
                    <h2>Képek átadása, fizetés</h2>
                    <p>A szerződésben rögzített időpontig, az előre megbeszélt módon átadom a képeket. Leggyakrabban ez egy felhőtárhely. Ezután kiállítom a számlát, és te kifizeted a szolgáltatást. Nagy örömmel veszem az őszinte visszajelzéseket, hisz ezek segítségével lehet csak igazán fejlődni.</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    
<!-- PARALLAX -->
<div class="parallax-kisallat"></div>

<!-- CSOMAGOK -->
<div class="container-fluid arlista" id="arhely">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-one owl-carousel owl-theme">    
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Kisallatfotozas/P1040279.JPG' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong></strong>Szabadtéri Kis Csomag</center></h2></p><hr>
                            <p class="hirtartalom">~1 óra fotózás</p>
                            <p class="hirtartalom">15 darab retusált kép</p>
                            <p class="hirtartalom">1 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>20.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
                <div  class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Kisallatfotozas/P1038598-2.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong></strong>Szabadtéri Nagy Csomag</center></h2></p><hr>
                            <p class="hirtartalom">Minimum 1,5 óra fotózás</p>
                            <p class="hirtartalom">20 darab retusált kép</p>
                            <p class="hirtartalom">3 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>30.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Kisallatfotozas/PANA8272-2.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong>Beltéri Csomag</strong></center></h2></p><hr>
                            <p class="hirtartalom">~1 óra fotózás studióban vagy nálad (felszerelést és hátteret viszem)</p>
                            <p class="hirtartalom">15 darab retusált kép</p>
                            <p class="hirtartalom">1 darab facebook borító kép</p>
                            <p class="hirtartalom"><h3>30.000 Ft</h3></p><br>
                        </div>
                    </div>
                </div>
        </div>
    </div>            
</div>


<!-- PARALLAX2 -->
<div class="parallax-kisallat-2"></div>


<!-- KISALLAT GALERIA -->
<div class="container-fluid kisallat-carous">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-three owl-carousel owl-theme owl-centered">
              {% for picture in pictures %}
                    <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                            <img src={{ picture.photo_tumb.url }}></img>
                    </a>

              {% endfor %}
            </div>
        </div>
    </div>
</div>

</section>

{% endblock content %}