{% extends 'main.html'%}
{% load static %}       
{% block content %}


<!-- CAROUSEL -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-pause="false">  
  <div class="carousel-inner1">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/Carousel1.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;" alt="kutya ülve pózol az aranyórában">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/Carousel2.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;" alt="tettrekész fekete kutya varázslatos háttér előtt">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/Carousel4.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;" alt="aranybarna kutya fut labdával a szájában">
    </div>
  </div>
</div>



    <div class="container-fluid category-header">
        <div class="row g-0">
            <div class="col-xl-2 col-xs-0 col-sm-0"></div>
            <div class="col-xl-5 col-xs-12 col-sm-12"> 
                <div class="visioncard vs-card-header">
                    <h1>Kutyafotózás</h1>
					<h1>Budapest vonzásközetében</h1>
					<h1>És Stúdióban</h1><br>
                    <p>Bátran állíthatom, hogy a fő profilom és kedvenc témám a kutyák fotózása szabadtéren és stúdióban is. Itt összeér minden, amit szeretek. Fotózás, természet, kutyák, kommunikálni gazdikkal és kutyákkal. Nem gond, ha kutyád izgatott, vagy még nem a kutyasuli sztárja, vagy nem ő nyerte a Border Collie szépségversenyt, ha neked van türelmed hozzá, hidd el nekem is lesz!</p>
                    <p>Készítsünk igényes, professzionális képeket kutyusodról vagy pózoljatok együtt a naplementében! Örök emlék lesz és jó szórakozás!</p>
                    <p>Nincs ötleted, hogy mivel lepd meg kutyás ismerősöd? Fizesd be őt egy ajándékfotózásra, akár ajándék albummal vagy vászonképpel! <a href="#ajandekutalvany">Részletek itt!</a></p>
                </div>
            </div>
            <div class="col-xl-5 col-xs-12 col-sm-12">
                <div>
                    <img src={% static '/app_brandon_photography/images/Carousel/Kisallatfotozas/PANA7223-2.jpg' %}  class="fokartya-foto" alt="nagytestű szürke kutyát simogat a gazdája"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 2vw">
    </div>
 
     <!-- KISALLAT GALERIA -->
	<h2 style="font-size: 44px; color: rgb(153,101,21);">Szabadtéri fotózásaim</h2>
		<div class="container-fluid kisallat-carous">
			<div class="row">
				<div class="carousel-wrap-1">
					<div class="owl-three owl-carousel owl-theme owl-centered">
					{% for picture in pictures %}
							<a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
									<img src={{ picture.photo_tumb.url }}></img>
							</a>

					{% endfor %}
					</div>
				</div>
			</div>
		</div>

<section class="ajandekkartya"  id="ajandekkartya">
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    <div class="container-fluid"><div class="row"><div class="col"></div></div></div>
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <img src={% static 'app_brandon_photography/images/ajandekkartyamix1.png' %} alt="kutyafotózás ajándékutalvány"  class = "img-responsive" width = "100%"/>
            </div>
            <div class="col-xl-6">
                <div class="ajandekkartya-card" id="ajandekutalvany">
					<h2 style="font-size: 44px;">Kutyafotózás ajándékba?</h2><br>
                <h2>Ajándékozz kutyás ismerősödnek egy remek hangulatú fotózást akár ajándék fotóskönyvvel!</h2>
                <p>
                Szabadtéri és műtermi <a href="#arhely">csomagom</a> is megvásárolható ajándékutalványként, amit kérhetsz online, illetve postai úton is. Mindkét esetben mellékelek egy részletesebb leírást, hogy az ajándékozott képbe kerüljön tulajdonképpen milyen fotózásra is nevezted be őt, és hol tudja felvenni velem a kapcsolatot időpontegyeztetés kapcsán :). </p>
                <a href="kapcsolat" target="_blank"><button class="segitscard-button">Érdekel</button></a>
                </div>
            </div>
        </div>
        <div class="row accordition-ajandekkartya">
            <div class="col-xl-3"></div>
            <div class="col-xl-6">
                <center><h3>Hogy működik az ajándékutalvány vásárlás?</h3></center>
                    <div class="accordion accordion-flush" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Milyen helyszíneken váltható be az ajándékutalvány?
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            A szabadtéri csomagot magában foglaló ajándékutalvány Budapesten és közvetlen vonzáskörzetében érvényesek. Ha távolabb lakna az ajándékozott, kérlek említsd meg!<br>
							A bejáratott stúdióm Budapesten a Baross utcában található, viszont igény szerint más kutyabarát stúdióba is mehetünk :).<br><br>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Meddig érvényes?
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Az sorszámozott ajándékutalványok a váltástól számított 1 évig érvényesek. A pontos érvényességet az ajándékutalványhoz tartozó tájékoztatóban feltüntetem az ajándékozott számára.<br><br>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Hogy vásárolhatom meg az utalványt?
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Ha megtetszett valamelyik csomag, és szeretnél ajándékozni keress meg <a href="kapcsolat" target="_blank">elérhetőségeim</a> egyikén!
                            A részletek rövid megbeszélése után kiállítom a számlát, átutalással tudod kifizetni.<br>
							Átutalást követően e-mailben és/vagy postai úton is elküldöm az ajándékutalványt és hozzá egy 1 oldalas tájékoztatót, benne minden fontos tudnivalóval az ajándékozott számára.<br><br>
                          </div>
                        </div>
                      </div>
                    </div>
                </ul></p>
            </div>
            <div class="col-xl-3"></div>            
        </div>
    </div>
</section>

<section class="kisallat-steps">
	<div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
	<h2  style="font-size: 44px; color: rgb(153,101,21);">Műtermi fotózásaim</h2>
	<div class="container-fluid kisallat-carous">
		<div class="row">
			<div class="carousel-wrap-1">
				<div class="owl-three owl-carousel owl-theme owl-centered">
				{% for picture in studiopictures %}
						<a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
								<img src={{ picture.photo_tumb.url }}></img>
						</a>

				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- CSOMAGOK -->
<section>
	<div class="container-fluid arlista" id="arhely">
		<div class="container-fluid" style="height: 100px"><div class="row"><div class="col"></div></div></div>
		<div class="row"><div class="col"><h2 style="font-size: 44px; color: rgb(153,101,21);">Csomagjaim</h2></div></div>
		<div class="row">
			<div class="carousel-wrap-1">
				<div class="owl-one owl-carousel owl-theme">    
					<div  class="owldiv">
						<div class="box-element">
							<div class="wrapperconstraint-gallery">
								<a href="">
									<div class="newspic">
										<img src={% static 'app_brandon_photography/images/Carousel/Kisallatfotozas/nagycsomag.jpg' %} alt="nagy csomag fotó, nagytestű szürke kutyát simogat a gazdája">
									</div>
								</a>
							</div>
							<div class="news">
								<p><h2><center>Szabadtéri Csomag</center></h2></p><hr>
								<p class="hirtartalom">Minimum 1,5 óra fotózás</p>
								<p class="hirtartalom">20 darab retusált kép</p>
								<p class="hirtartalom">1 héten belül felhőben átadva</p>
								<p class="hirtartalom"><h3>33.000 Ft</h3></p>
								<a href="kapcsolat" target="_blank"><button class="segitscard-button">Érdekel</button></a>
							</div>
						</div>
					</div>
					<div class="owldiv">
						<div class="box-element">
							<div class="wrapperconstraint-gallery">
								<a href="">
									<div class="newspic">
										<img src={% static 'app_brandon_photography/images/Carousel/Kisallatfotozas/belteri.jpg' %} alt="beltéri fotó csomag, 3 tündéri kis cica">
									</div>
								</a>
							</div>
							<div class="news">
								<p><h2><center>Műtermi Csomag</center></h2></p><hr>
								<p class="hirtartalom">1 óra fotózás stúdióban (a stúdió árat tartalmazza)</p>
								<p class="hirtartalom">15 darab retusált kép</p>
								<p class="hirtartalom">Tartalmazza a stúdió bérlés árát is</p>
								<p class="hirtartalom"><h3>40.000 Ft</h3></p><br>
								<a href="kapcsolat" target="_blank"><button class="segitscard-button">Érdekel</button></a>
							</div>
						</div>
					</div>
					<div class="owldiv">
						<div class="box-element">
							<div class="wrapperconstraint-gallery">
								<a href="">
									<div class="newspic">
										<img src={% static 'app_brandon_photography/images/Ajandekkartya.png' %} alt="kutyafotózás ajándékutalvány">
									</div>
								</a>
							</div>
							<div class="news">
								<p><h2><center>Ajándékutalvány</center></h2></p><hr>
								<p class="hirtartalom">Ajándékozz fotózást szeretteidnek!</p>
								<p class="hirtartalom">Bármelyik csomagom kérhető ajándékutalvány formájában</p>
								<p class="hirtartalom">1 évig érvényes</p><br><br>
								<a href="kapcsolat" target="_blank"><button class="segitscard-button">Érdekel</button></a>
							</div>
						</div>
					</div>
			</div>
		</div>            
	</div>
</section>

<section class="kisallat-steps">
	<div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
	<div class="container-fluid"><div class="row"><div class="col"><h2 style="font-size: 44px;">A fotózás lépései</h2></div></div></div>
	<div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-sm-0">
			</div>
			<div class="col-xl-7 col-sm-12"> 
				<div class="visioncard">
					<img src={% static '/app_brandon_photography/images/Icons/konzultacio.png' %} class="icon" alt="konzultáció"/>
					<h2>Konzultáció</h2>
					<p>Ha megtetszettek a képek, és te is szeretnél egy vidám hangulatú fotózásról profi képekkel hazatérni, vedd fel velem a kapcsolatot telefonon, messengeren vagy emailben és mondd el, hogy milyen elképzeléseid vannak! Megbeszéljük a helyszínt, a lehetséges időpontokat, és hogy mivel készülj a fotózásra!</p>
				</div>
			</div>
			<div class="col-xl-1 col-sm-0">
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-1 col-sm-0">
			</div>
			<div class="col-xl-7 col-sm-12"> 
				<div class="visioncard">
					<img src={% static '/app_brandon_photography/images/Icons/fotozas.png' %} class="icon" alt="fotózás"/>
					<h2>Fotózzunk</h2>
					<p>Hiszen ezért vagy itt! Az előre megbeszélt helyszínre és időpontra hozd el kiskedvenced és lássunk neki. Szentelünk időt arra is, hogy mindenki feloldódjon, és nem fogjuk svájci atomórával mérni a fotózásra szentelt időt, csak abban a kivételes esetben, ha sietsz valahová!</p>
				</div>
			</div>
			<div class="col-xl-4 col-sm-0">
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-sm-0">
			</div>
			<div class="col-xl-7 col-sm-12"> 
				<div class="visioncard">
					<img src={% static '/app_brandon_photography/images/Icons/share.png' %} class="icon" alt="átadás, megosztás"/>
					<h2>Képek átadása, fizetés</h2>
					<p>A képeket két héten belül kidolgozom és felhőtárhelyen átadom. Ezután kiállítom a számlát és te kifizeted a fotózást. Örömmel veszem az őszinte visszajelzéseket, hisz ezek segítségével én is fejlődöm.</p>
				</div>
			</div>
			<div class="col-xl-1 col-sm-0">
			</div>
		</div>
	</div>
	<div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
</section>









{% endblock content %}