{% extends 'main.html'%}
{% load static %}       
{% block content %}

<div class="container-fluid">
    <div class="row">
      {% for picture in pictures %}
      {% if forloop.counter0 in bplist %}
      <div class="column">
      {% endif %}
        <a href={{ picture.photo.url }} data-lightbox="mygallery"><img src={{ picture.photo_tumb.url }} class="ongray" /></a>{{ picture.img_url.url }}
      {% if forloop.counter in bplist  or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
</div>

{% endblock content %}