{% extends 'main.html'%}
{% load static %}       
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro">főoldal</a>
        </li>
        <div class="btn-group">
          <button type="button" class="btn"> <a href="intro#arak">lehetőségek</a></button>
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="eskuvo">esküvői fotózás</a></li>
            <li><a class="dropdown-item" href="termek">termékfotózás</a></li>
            <li><a class="dropdown-item" href="marketing">marketing</a></li>
            <li><a class="dropdown-item" href="kiskedvenc">kiskedvenc fotózás</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="video">videokészítés</a></li>
          </ul>
        </div>
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro#contact" target="blank">kapcsolat</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- CAROUSEL -->
<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel"  data-bs-pause="false">  
  <div class="carousel-inner1">
    <div class="carousel-item active" data-bs-interval="4000">
      <img src={% static '/app_brandon_photography/images/Carousel/Portrefoto/Carousel1.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Portrefoto/Carousel2.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
    <div class="carousel-item">
      <img src={% static '/app_brandon_photography/images/Carousel/Portrefoto/Carousel3.jpg' %} class="d-block w-100" style="width: auto; max-width: 100%;">
    </div>
  </div>
</div>


<section>

    <div class="container-fluid category-header">
        <div class="row g-0">
            <div class="col-xl-2 col-xs-0 col-sm-0"></div>
            <div class="col-xl-5 col-xs-12 col-sm-12"> 
                <div class="visioncard vs-card-header">
                    <h1>Portréfotózás</h1>
                    <p>Szeretnél igényes képeket magadról? Tinderre, önéletrajzhoz vagy a családi albumba?</p>
                    <p>Szeretnél családoddal profi fotókat, amiket mindig örömmel nézel vissza?</p>
                    <p>Külső helyszínen, és studióban is találkozhatunk. Gyalogoljunk családoddal vagy pároddal el Budapest valamelyik látványosságához vagy keressünk fel gyönyörű parkokat és kiváló portréhelyszíneket fővárosunk közelében!</p>
                </div>
            </div>
            <div class="col-xl-5 col-xs-12 col-sm-12">
                <div>
                    <img src={% static '/app_brandon_photography/images/Carousel/Portrefoto/Carousel2.jpg' %}  class="fokartya-foto"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 2vw">
    </div>
 
 
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    <div class="row"><div class="col"><h2 style="font-size: 44px;">A PORTÉZÁS MENETE</h2></div></div>
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/konzultacio.png' %} class="icon" />
                    <h2>Konzultáció</h2>
                    <p>Ingyenes beszélgetés telefonon, chaten vagy videóhívás formájában.</p>
                    <p>Megbeszéljük milyen képeket szeretnél. Külső helyszínen, menjünk el studióba, vagy esetleg a munkahelyeden?</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/alairas.png' %} class="icon" />
                    <h2>Szerződés</h2>
                    <p>Megírom a szerződéstervezetet, amelyben kitérünk az árra, a kívánt képformátumokra, illetve a teljesítés feltételeire - mikorra készülnek el a képek, mikor kell fizetni.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/fotozas.png' %} class="icon" />
                    <h2>Fotózás</h2>
                    <p>Menjünk a studióba, vagy találkozzunk a megbeszélt helyszínen!</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/share.png' %} class="icon" />
                    <h2>Képek átadása, fizetés</h2>
                    <p>A szerződésben rögzített időpontig az előre megbeszélt módon átadom a képeket. Leggyakrabban ez egy felhőtárhely. Ezután kiállítom a számlát, és ti kifizetitek a fennálló összeget. </p>
                    <p>Nagy örömmel veszem az őszinte visszajelzéseket, hisz ezek segítségével lehet csak igazán fejlődni.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
<div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    
<!-- PARALLAX -->
<div class="parallax-portre"></div>

<!-- CSOMAGOK -->
<div class="container-fluid arlista" id="arhely">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-four owl-carousel owl-theme">
                <div class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Portrefoto/externalp.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong></strong>Kültéri fotózás</center></h2></p><hr>
                            <p class="hirtartalom">előre megbeszélt helyszínen</p>
                            <p class="hirtartalom">egyéni, családi, páros fotózás</p>
                            <p class="hirtartalom">~minimum 0,5 óra</p>
                            <p class="hirtartalom">igény szerint retusált képek</p>
                            <p class="hirtartalom"><h3>20.000 Ft-tól</h3></p>
                        </div>
                    </div>
                </div>
                
                <div  class="owldiv">
                    <div class="box-element">
                        <div class="wrapperconstraint-gallery">
                            <a href="">
                                <div class="newspic">
                                    <img src={% static 'app_brandon_photography/images/Carousel/Portrefoto/portrait.jpg' %}>
                                </div>
                            </a>
                        </div>
                        <div class="news">
                            <p><h2><center><strong></strong>Studio fotózás</center></h2></p><hr>
                            <p class="hirtartalom">közösen választott műterem</p>
                            <p class="hirtartalom">egyéni, családi, páros fotózás</p>
                            <p class="hirtartalom">~minimum 1 óra</p>
                            <p class="hirtartalom">igény szerint retusált képek</p>
                            <p class="hirtartalom"><h3>30.000 Ft-tól</h3></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>            
</div>

<!-- KISALLAT GALERIA -->
<div class="container-fluid kisallat-carous">
    <div class="row">
        <div class="carousel-wrap-1">
            <div class="owl-three owl-carousel owl-theme owl-centered">
              {% for picture in pictures %}
                    <a href={{ picture.photo_tumb.url }} data-lightbox="mygallery">
                            <img src={{ picture.photo_tumb.url }}></img>
                    </a>

              {% endfor %}
            </div>
        </div>
    </div>
</div>

</section>

{% endblock content %}