{% extends 'main.html'%}
{% load static %}       
{% block content %}



<div class="container-fluid" style="max-width: 80%;">
  {% for category in categories %}
    {% if forloop.counter0|divisibleby:3 %}
        <div class="row foto-gallery">
    {% endif %}
          <div class="col-lg-4 col-md-12 container-fluid">
                  <a href='gallery.html?gallery_id={{ category.pk }}'>
                    <div class="wrapperconstraint">
                      <div class="wrapper">
                          <img src={{ category.category_cover.url }} class="img img-responsive full-width photocover photog" >
                          <div class="description">
                              {{ category.name|upper }}
                          </div>
                      </div>
                    </div>
                  </a>
          </div>
    {% if forloop.counter|divisibleby:3  or forloop.last %}
        </div>
    {% endif %}

  {% endfor %}

</div>

{% endblock content %}