{% load custom_filters %}
{% if reviews %}
    {% for review in reviews %} 
            <div class=" col-xs-12 col-sm-12 col-lg-4 d-flex justify-content-center align-items-center">

                <div class="review-card">
                    <div class="avatar">
                        <img src="{{ review.photo_tumb.url }}" alt="Reviewer Image">
                    </div>
                    <div class="stars">
                        <h3>{{ review.name }}</h3>
                        {{ '★'|repeat:review.stars|safe }}{{ '☆'|repeat:review.remaining_stars|safe }}
                    </div>
                    <p>{{ review.description }}</p>
                    <div class="card-footer">
                        <hr>
                        <p><strong>{{ review.owner }}</strong></p>
                    </div>
                </div>
            </div>
    {% endfor %}
{% else %}
    <div class="centralize-div">
    <h3 class="ui header center aligned">Nincsenek velemenyek!</h3>
    </div>
{% endif %}


<div class="centralize-div py-5" id="load-more">
  {% if reviews.has_next %}
  <div class="ui divider"></div>
  <button class="load-more" hx-get="{% url 'review' %}"
    hx-vals='{"page": "{{ reviews.next_page_number }}", "reviews": "{{ reviews }}"}' hx-target="#load-more"
    hx-swap="outerHTML">
    mutass többet
  </button>
  {% endif %}
</div>