{% extends 'main.html'%}
{% load static %}
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon" alt="nagipix brand logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li><a class="nav-link" href="intro">főoldal</a></li>
        <li><a class="nav-link" href="eskuvo">esküvői fotózás</a></li>
        <li><a class="nav-link" href="portre">portréfotózás</a></li>
        <li><a class="nav-link" href="kutyafotozas">kutyafotózás</a></li>
        <li><a class="nav-link" href="video">videokészítés</a></li>

        <li class="nav-item menupoint">
          <a class="nav-link" href="blog">blog</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.facebook.com/nagipix" target="blank"><i class="fa-brands fa-facebook socicon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- KAPCSOLAT -->
<div class="container" style="height: 200px;"></div>
<div class="container-fluid">
    <div class="row">
          <div class="col-12">
		  <h2>Sikeresen elküldted az üzenetet, igyekszem minél hamarabb válaszolni!</h2><br><br>
		  <center><p><img src={% static '/app_brandon_photography/images/Icons/envelope-arrow-down.svg'%}/ style="height: 150px;"></p></center><br><br>
			  <br><div style="text-align: center;"><a href="intro.html"><button class="segitscard-button" style="text-align: center; margin: 0 auto;">Főoldalra</button></a></div><br><br>
          </div>
    </div>
</div>
<div class="container" style="height: 300px;"></div>
{% endblock content %}