{% extends 'main.html'%}
{% load static %}       
{% block content %}

<!-- MENU -->
<nav id="mynav" class="navbar navbar-expand-xl navbar-light sticky-top" style="text-align: center;">
  <div class="container">
    <a class="navbar-brand navbar-expand menubrand mr-auto" href="intro"><img src="{% static 'app_brandon_photography/img/nagipix.png' %}" class="brand-logo brandicon"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex" id="navbarTogglerDemo01">
      <ul class="navbar-nav">
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro">főoldal</a>
        </li>
        <li><a class="nav-link" href="eskuvo">esküvői fotózás</a></li>
        <li><a class="nav-link" href="portre">portréfotózás</a></li>
        <li><a class="nav-link" href="kutyafotozas">kutyafotózás</a></li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="blog">blog</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link" href="intro#contact" target="blank">kapcsolat</a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.instagram.com/nagipix/" target="blank"><i class="fa-brands fa-instagram socicon"></i></a>
        </li>
        <li class="nav-item menupoint">
          <a class="nav-link menusoci" href="https://www.youtube.com/channel/UCasDOzwaHVi0a-Nit9u-w0A" target="blank"><i class="fa-brands fa-youtube socicon"></i></a>
        </li>
      </ul>
    </div>
  </div>  
</nav>

<!-- CAROUSEL -->
<div class="container-fluid videocarous">
    <div class="row">
        <div class="carousel-wrap">
            <div class="owl-two owl-carousel owl-theme">    
                <div class="row videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eZAn_K8PIns?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kIhYXr9SduE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="row videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LOrVj8FG4Jg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>            
    </div>
</div>   


<section class="kiskedvenc">
    <div class="container-fluid category-header">
        <div class="row g-0">
            <div class="col-xl-2 col-xs-0 col-sm-0"></div>
            <div class="col-xl-5 col-xs-12 col-sm-12"> 
                <div class="visioncard vs-card-header">
                    <h1>Videókészítés marketing célokra</h1>
                    <p>Imádom a videózást, és a hozzá tartozó brainstormingot.</p>
                    <p>Bemutatkozó videó, reklámvideó, kisvállalkozásod számára sok vevőt jelenthet, igazi versenyelőny.</p>
                </div>
            </div>
            <div class="col-xl-5 col-xs-12 col-sm-12">
                <div>
                    <img src={% static '/app_brandon_photography/images/Carousel/Video/videocover.jpg' %}  class="fokartya-foto"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 2vw">
    </div>
    
    
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>
    <div class="container-fluid"><div class="row"><div class="col"><h2 style="font-size: 44px;">A VIDEOKÉSZÍTÉS MENETE</h2></div></div></div>
    <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/konzultacio.png' %} class="icon" />
                    <h2>Konzultáció</h2>
                    <p>Ingyenes beszélgetés telefonon, chaten, vagy videóhívás formájában.</p>
                    <p>Megbeszéljük mi a célja a videónak, milyen környezetben készítjük el, és mennyi időt szánnánk a forgatásra. Az első konzultációs alkalmat követően, amennyiben szeretnél velem dolgozni, elkezdjük kidolgozni a "forgatókönyvet". </p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/alairas.png' %} class="icon" />
                    <h2>Szerződés</h2>
                    <p>Megírom a szerződéstervezetet, amelyben kitérünk az árra, az átadott anyag formátumára, illetve a teljesítés feltételeire.</p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/videocam.png' %} class="icon" />
                    <h2>Videózás</h2>
                    <p>A megbeszélt helyszínen leforgatjuk a szükséges snitteket</p>
                </div>
            </div>
            <div class="col-xl-1 col-sm-0">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-sm-0">
            </div>
            <div class="col-xl-7 col-sm-12"> 
                <div class="visioncard">
                    <img src={% static '/app_brandon_photography/images/Icons/give.png' %} class="icon" />
                    <h2>Videó átadása</h2>
                    <p>A teljesen végleges állapot előtt szívesen elküldöm, amikor még csak a "timeline" van egyben, hogy ha esetleg változtatási ötleted lenne, akkor azt még időben meg tudjam valósítani. A videót felhőtárhelyre töltöm, és ekkor szükséges a teljes összeget kifizetni. </p>
                </div>
            </div>
            <div class="col-xl-4 col-sm-0">
            </div>
        </div>
    </div>
 <div class="container-fluid" style="height: 50px"><div class="row"><div class="col"></div></div></div>   
</section>

{% endblock content %}