{% extends 'main.html'%}
{% load static %}       
{% block content %}

<div class="container-fluid" style="max-width:90%;">
    <div class="row">
        <div class="col-lg-8 embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p18YJO2rPyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
    <div class="row" style="padding-top: 100px;">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8  embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/362iXGbq4Nk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
    </div>
</div>

{% endblock content %}