@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family='Roboto', sans-serif');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/* ---------------------------------------- */
/* COL-XS */
/* ---------------------------------------- */
@media (max-width: 576px){
  .owl-carousel .prev-slide, .owl-carousel .next-slide{
    top: 5px;
  }
    
  .carousel-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .owl-carousel .nav-btn{
      height: 40px;
      width: 40px;
      cursor: pointer;
      position: relative;
      justify-content: center;
  }  
  
  .kisallat-carous{
    width: 100%;
  }
  
  .arlista{
    width: 100%;  
  }
  
  .owldiv{
    padding: 40px 0px;
  }
  
  .fokartya-foto{
    width: 95%;
    height: auto;
  }
  
  .category-header{
    text-align: center;
  }
  .box-element{
      box-shadow:hsl(40, 00%, 40%) 0 0 5px;
  }
  
  .btn-group-vertical > .btn, .btn-group > .btn {
    transform: translateX(-10px);
  }
}


/* ---------------------------------------- */
/* COL-SM */
/* ---------------------------------------- */
@media (min-width: 576px){
  .fokartya-foto{
    height: 300px;
    width: auto;
    object-fit: cover;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  }
  
  .owl-carousel .prev-slide,.owl-carousel .next-slide{
    top: 5px;      
  }

  .owl-carousel .nav-btn{
      height: 40px;
      width: 40px;
      position: relative;
      justify-content: center;
  }
  
  .carousel-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }

  .carousel-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .kisallat-carous{
    width: 100%;
  }
  
  .fokartya-foto{
    width: 95%;
    height: auto;
  }
  
  .category-header{
    text-align: center;
  }
  
  .owldiv{
    padding: 40px 50px;
  }
  
  .btn-group-vertical > .btn, .btn-group > .btn {
    transform: translateX(-10px);
  }
  .box-element{
      box-shadow:hsl(40, 00%, 40%) 0 0 20px;
  }
  .bloglist{
    max-width: 85%;
  }
}



/* ---------------------------------------- */
/* COL-MD */
/* ---------------------------------------- */
@media (min-width: 768px) {
  .owl-carousel .prev-slide,.owl-carousel .next-slide{
    top: 5px;
  }

  .carousel-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
  
  .owl-carousel .nav-btn{
    height: 40px;
    width: 40px;
    position: relative;
    justify-content: center;
  }
  
  .arlista{
    width: 80%;  
  }
  
  .owldiv{
    padding: 40px 50px;
  }
  
  .bloglist{
    max-width: 65%;
  }  
}


/* ---------------------------------------- */
/* COL-LG */
/* ---------------------------------------- */
@media (min-width: 992px) {
  
  .carousel-wrap,.carousel-wrap1 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
  }
  
  .owl-carousel .nav-btn{
    height: 40px;
    width: 40px;
    position: relative;
    justify-content: center;
  }
  
  .arlista{
    width: 80%;  
  }
  
  .owldiv{
    padding: 40px 50px;
  }

  .bloglist{
    max-width: 50%;
  }
}



/* ---------------------------------------- */
/* COL-XL */
/* ---------------------------------------- */
@media (min-width: 1200px) {
  .photocategories{
    max-width: 90%;
  }
  
  .arlista{
    width: 100%;  
  }
  
  .fokartya-foto{
    height: 300px;
    width: auto;
    -ms-transform: translateX(-70px);
    -o-transform: translateX(-70px);
    -moz-transform: translateX(-70px);
    -webkit-transform: translateX(-70px);
    transform: translateX(-100px) translateY(20%);
  }
  
  .category-header{
    text-align: left;
  }
  
  .btn-group-vertical > .btn, .btn-group > .btn {
    transform: translateX(0);
  }
}


/* ---------------------------------------- */
/* COL-XXL */
/* ---------------------------------------- */
@media (min-width: 1400px) {
  .kisallat-carous{
  width: 95%;
  }
  
  .bloglist{
    max-width: 90%;
  }
}

/* ---------------------------------------- */
/* MORE THAN XXL */
/* ---------------------------------------- */
@media (min-width: 1600px) {
  .bloglist{
    max-width: 80%;
  }
}


@media (max-width: 1400px) {

}




/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* OWL CAROUSEL ELEMENTS */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* ---------------------------------------- */
/* GENERAL OWL CAROUSEL ELEMENTS */
/* ---------------------------------------- */
.carousel-wrap {
  position: relative;
  background: black;
}

.owl-carousel .owl-nav{
  overflow: hidden;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide{
    background: url("/static/app_brandon_photography/images/Icons/icons8-back-arrow-32.png") no-repeat scroll 0px 0px;
    transition: transform 0.5s ease;
    opacity: 0.7;
}
.owl-carousel .next-slide{
    background: url("/static/app_brandon_photography/images/Icons/icons8-forward-button-32.png") no-repeat scroll 0px 0px;
    transition: transform 0.5s ease;
    opacity: 0.7;
}

.owl-carousel .prev-slide:hover{
  opacity: 0.5;
  transform: scale(1.1);
}

.owl-carousel .next-slide:hover{
  opacity: 0.5;
  transform: scale(1.1);
}

.owl-theme-option{
  box-shadow:hsl(0, 50%, 10%) 0 0 40px;
  opacity: 1;
  background-blend-mode: lighten;
}

.owloption{
  padding-left: 10px;
  padding-right:10px;
  padding-top:10px;
}

.owl-theme .owl-nav{
  margin-top: 0px !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover{
  background: none !important;
}

/* ---------------------------------------- */
/* OWL ONE CAROUSEL ELEMENTS */
/* ---------------------------------------- */
.carousel-wrap-1 {
  position: relative;
}


/* ---------------------------------------- */
/* OWL TWO CAROUSEL ELEMENTS */
/* ---------------------------------------- */


/* ---------------------------------------- */
/* OWL THREE CAROUSEL ELEMENTS */
/* ---------------------------------------- */
.owl-three img{
  height: 350px;
  width: auto !important;
  object-fit: cover;
  display: flex;
  overflow: hidden;
}

/* ---------------------------------------- */
/* CAROUSEL RELATED ELEMENTS */
/* ---------------------------------------- */
.videocarous{
  background: black;
}

.videocarous .row{
  justify-content: center !important;
}

/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* NAVBAR ITEMS */
.navbar .navbar-collapse {
  text-align: left;
}

.navbar-fixed-top.scrolled {
  transition: background-color 200ms linear;
}

.navbar{
  box-shadow:hsl(10, 50%, 10%) 0 0 6px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(153,101,21);
}

.navbar .navbar-nav {
  margin:0 10px;
  padding: 0 10px;
  font-family: 'Unica One';
  font-size: 1.15rem;
  text-transform: uppercase;
  width: 100%;
  justify-content: right;
}

.brand-logo{
  height:35px;
  margin-bottom: 0px;
  margin-left: 22px;
}

.navbar .nav-item.menupoint{
  padding: 0vw 0.5vw 0vw 0.5vw;
}

@media only screen and (max-width: 991px) {
  header .navbar-default {
    padding: 10px;
  }

  .brand-logo{
    height:30px;
  }
} 

/*SCROLL LOCKED RESPONSIVE CLASSES*/
.nav-colored {
    background-color: white;
    opacity: 0.9;
}

.nav-transparent { background-color:transparent;}

ul.navbar-nav>li.nav-item>a.nav-link.custom{
}

.navbar .nav-item.borderabove{
}

.navbar .btn{
  font-family: 'Unica One';
  font-size: 1.15rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 0px;
  color: rgb(153,101,21);
}

.navbar .btn a {
  text-decoration: none; /* no underline */
  color: rgb(153,101,21);
}

.navbar .btn:active{
  background-color: transparent;
}

.btn-group{
  padding-top: 1px;
}

.btn-group-vertical > .btn, .btn-group > .btn {
  position: relative;
  flex: 0 0 auto;
}

@media only screen and (max-width: 768px) {
  .dropdown-menu {
    position: absolute !important;
  }
}

/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* CUSTOM SHAPE DIVIDERS */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */

/* 1648235894 */
.custom-shape-divider-bottom-1648235894 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648235894 svg {
    position: relative;
    display: block;
    width: calc(173% + 1.3px);
    height: 74px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1648235894 .shape-fill {
    fill: #FFFFFF;
}


/* 6275 */
.shapedividers_com-6275{
overflow:hidden;
position:relative;
}
.shapedividers_com-6275::before{ 
content:'';
font-family:'shape divider from ShapeDividers.com';
position: absolute;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
background-size: 100% 90px;
background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%23ffffff"><path d="M381 8.47L0 42.33V0h381z"/><path d="M381 33.87L0 59.27V0h381z" opacity=".33"/><path d="M381 59.27L0 77.25V0h381z" opacity=".33"/></g></svg>'); 
}

@media (min-width:2100px){
.shapedividers_com-6275::before{
background-size: 100% calc(2vw + 90px);
}
}

/* 2114 */
.shapedividers_com-2114{
overflow:hidden;
position:relative;
}
.shapedividers_com-2114::before{ 
content:'';
font-family:'shape divider from ShapeDividers.com';
position: absolute;
z-index: 3;
pointer-events: none;
background-repeat: no-repeat;
bottom: -0.1vw;
left: -0.1vw;
right: -0.1vw;
top: -0.1vw; 
background-size: 100% 90px;
background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23000000"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23000000"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23000000"/></svg>'); 
}

@media (min-width:2100px){
.shapedividers_com-2114::before{
background-size: 100% calc(2vw + 90px);
}
}
 
/* OTHER ELEMENTS */
h1{
  font-family: Unica One;
  text-transform: uppercase;
  padding-top: 10px;
}

body{
  width: 100%;
}

.ongray
 {
  width: 100%;
  transition: 0.3s linear;
  overflow: hidden;
}

.ongray:hover {
transform: scale(1.05);
}


.photog{
opacity:0.8;
}

.wrapperconstraint-photo-gallery{
  overflow:hidden;
  width: 100%;
  max-height: 100%;
  padding: 3px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom:100%;
  transition: transform 1s ease;
}

.wrapper img{
      position: absolute;
      max-width: 110%;
      max-height: 110%;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      object-fit: cover;
      transition: transform 0.5s ease;
      -webkit-transition:-webkit-filter 0.5s ease-in-out;
      transition:-webkit-filter 0.5s ease-in-out;
}

.description {
  position: absolute;
  background-color: rgba(230, 230, 230, 0.9);
  height: 150px;
  width: 100%;
  bottom: -160px;
  left: 0;
  text-align: center;
  padding-top: 10px;
  transform: translateY(-90px);
  transition: transform 0.5s ease;
  font-family: 'Unica One';
  color: hsl(0,0%, 10%);
  font-size: 30px;
}

.wrapper:hover .description {
  transform: translateY(0);
}

.wrapper:hover{
transform: scale(1.1);
}

.wrapperconstraint{
  overflow:hidden;
  width: 100%;
}


/*BIO*/

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes opac-in{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.mail-icon {
  opacity:0.85;
  height: 12vw;
  filter: invert(36%) sepia(97%) saturate(413%) hue-rotate(357deg) brightness(93%) contrast(91%);
}

.bio{
  padding: 15px;
}

.bio-picture {
  max-width:90%;
  padding-left: auto;
  padding-right: auto;
  border-radius: 50%;
  opacity: 90%;
}

.bio-pict-wrapper{
  text-align: center;
}

.bio-text{
  padding-top: 30px;
  overflow: hidden;
  color: white;
  color: rgb(153,101,21);
  font-family: 'Quicksand', sans-serif;
  line-height: 2;
  font-size: 17px;
  text-align: center;
}

.bio h1{
  font-family: 'Unica One';
  color: #757575;
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
}

h2{
  font-family: 'Unica One';
  text-transform: uppercase;
  color: #757575;
  text-align: center;
}

.bio-card {
  max-width: 1400px;
  margin: auto auto;
  border-radius: 10px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.container-fluid.bio{
  background-color: #e6e6e6;
  padding-top: 7vw;
}

.activity-cont{
  padding-top: 8vw;
  padding-bottom: 8vw;
  background: #cfc3a7;
}

.activity{
  text-align: center;
  line-height: 2;
  font-family: 'Unica One';
  font-size: 24px;
  padding-bottom: 6vw;
}

.activity hr{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.activity:hover .activity-icon{
  transform:scale(1.1);
}

.activity-icon{
  height: 200px;
  margin: auto;
  opacity: 70%;
  -moz-transition: all 0.8s ease-out;  /* FF4+ */
  -o-transition: all 0.8s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.8s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.8s ease-out;  /* IE10? */
  transition: all 0.8s ease-out;
}

.activity-icon:hover{
  opacity: 0.3;
}

.sect-activity{
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}

/*CONTACT SITE*/
.contact{
  float:none;
  border-radius: 10px;
  color: hsl(0,0%,90%);
  box-shadow:hsl(10, 50%, 10%) 0 0 20px;
  font-family: Vollkorn;
  font-size: 24px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.form-control{
  border: none;
  border-bottom: 1px solid rgb(153,101,21);
  background-color: #e8e8e8;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-group{
  color: rgb(153,101,21);
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 19px;
  background-color: #e8e8e8;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 7rem;
}

.form-group h1
{
  font-family: 'Unica One';
  color: rgb(153,101,21);
  font-size: 50px;
  text-align: center;
}

.fg-left{
  padding-top: 220px;
}

.fg-right{
  padding-right: 15vw;
}

.socicon{
  transition: 0.1s linear;
  transform:scale(1.4);
  -webkit-backface-visibility: hidden;
  color: #969595; 
}

.socicon:hover{
  transform:scale(1.6);
}

.menusoci:visited .socicon{
  color:rgb(153,101,21);
}

.menusoci:link .socicon{
  color:rgb(153,101,21);
}

.menusoci:active .socicon{
  color:rgb(153,101,21);
}

.menusoci:hover .socicon{
  transform:scale(1.6);
}

.brandicon{
  transition: 0.3s linear;
  -webkit-backface-visibility: hidden;
}

.menubrand:hover .brandicon{
  transform:scale(1.1);
}

.formbutton{
  font-family: 'Unica One';
  color: rgb(153,101,21);
}

.messenger{
 text-decoration:none;
 color: #00b7ff;
}

/* ********************************************************************************* */
/* FOOTER */
/* ********************************************************************************* */

.footer{
  background-color: hsl(0,0%, 20%);
  color: rgb(153,101,21);
  text-align: center;
}

.footer a{
  text-decoration: none;
}

.footerimage{
  display: flex;
  justify-content: center;
}

.footerimage img{
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
}

.contacts{
  text-align: center;
  color: #969595;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 17px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 2vw;
}

.contacts img{
  height: 25px;
  filter: invert(1);
}

.contacts a{
  color: #7FDBFF
}

.carousel-inner, .carousel-inner1{
 width: 100%;
 overflow: hidden;
 max-height: 800px;
}


/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* PARALLAX DEFIFITIONS */
/* ********************************************************************************* */
/* ********************************************************************************* */
/* ********************************************************************************* */
.parallax {
  /* The image used */
  background-image: url("/static/app_brandon_photography/images/img_parallax.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("/static/app_brandon_photography/images/moviemaking.jpg");

  /* Set a specific height */
  min-height: 800px;
  text-align: center;
  padding-top: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cfcab8;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 2rem;
}

.parallax1 h1{
  font-size: 120px;
  color: #cfcab8;
}

.parallax-kisallat {
  /* The image used */
  background-image: url("/static/app_brandon_photography/images/Carousel/Kisallatfotozas/P1100066-2.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 0px top 0px;
}

.parallax-termek{
  /* The image used */
  background-image: url("/static/app_brandon_photography/images/Carousel/Termekfoto/parallax.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cfcab8;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 2rem;
}

.parallax-portre{
  /* The image used */
  background-image: url("/static/app_brandon_photography/images/Carousel/Portrefoto/parallax.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cfcab8;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 2rem;
}

.parallax-marketing{
  /* The image used */
  background-image: url("/static/app_brandon_photography/images/Carousel/MarketingVideo/Carousel3.jpg");

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cfcab8;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 2rem;
}



.box-element{
  height: 700px;
  padding-left: 0;
  font-size: 14px;
  justify-content: center;
  border-radius: 20px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  background-color: #ebe8e8;
  text-align: center;
  color: #5c5e5c;
  transition: 0.3s linear;
}

.box-element h2{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 28px;
  margin-top: 30px;
}

.box-element hr{
  width: 80%;
  justify-content: center;
  margin: auto;
}

.box-element:hover{
  background-color: #424242;
  color: #f5f2f2;
}

.box-element:hover h2, .box-element:hover h3{
  color: #f5f2f2;
}

.hirdescription{
  text-align: justify;
  line-height: 150%;
  font-family: Open Sans,sans-serif;
  padding-left: 5vw;
}

.hirnev{
  font-family: 'Rubik Distressed', cursive;
  font-size: 2rem;
  text-shadow: 3px 3px black;
  color: grey;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.5s ease;
}

.hirtartalom{
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 17px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.wrapperconstraint-gallery{
  overflow:hidden;
  height: 350px;
  margin-top: 3px;
  border-radius: 20px;
}

.wrapperconstraint-gallery img{
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px;
}

.newspic{
  height: 350px;
  width: auto;
  object-fit: contain;
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.newspic:hover{
  transform: rotate(2deg) scale(1.05);
}

.sect-lehetosegek{
  background-color: #fafafa;
}

.segitscard-button {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  background: #e6d8b8;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-size: 17px;
  color: #000;
}

.segitscard-button:hover{
  color: #fff;
  background: #691687;
}

h3{
  font-family: 'Unica One';
  text-transform: uppercase;
  font-size: 32px;
}

/* VIDEO WRAPPER*/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  display:block;
  width: 100%;
  height: 100%;
}

#owl-carousel-video {
  width: 100%;
}

.item-video {
	height: 800px;
	background-color: blue;
	display: block;
}



.videocaption{
  padding-top: 0;
  padding-bottom: 0;
}


.categocategories{
  padding: 3px;
}

.kisallat-steps{
  background: #cfc3a7;
}


/* VISIONCARD */
.visioncard{
  font-size: 17px;
  justify-content: center;
  border-radius: 20px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  background-color: #ebe8e8;
  text-align: center;
  color: #5c5e5c;
  transition: 0.3s linear;
  box-shadow:hsl(40, 00%, 40%) 0 0 25px; 
  padding: 10px 5vw 70px 5vw;
  margin: 30px; 
}

.visioncard h2, h3{
  font-size: 32px;
  margin-top: 30px;
  color: #5c5e5c;
}

.visioncard hr{
  width: 80%;
  justify-content: center;
  margin: auto;
}

.visioncard:hover{
  background-color: #424242;
  color: #f5f2f2;
}

.visioncard:hover h2{
  color: #f5f2f2;        
}
.visioncard:hover h3{
  color: #f5f2f2;        
}

.visioncard img{
  height: 64px;
  margin-top: 20px;
  opacity: 70%;
}

.visioncard:hover .icon{
  filter: invert(1);
}

.category-header{
  padding-top: 2vw;
  padding-bottom: 3vw;
  background: #cfc3a7;
  color: #5c5e5c;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 17px;
}

.category-header .row{
    display: flex;
  flex-wrap: wrap;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .caption {
  text-align: center;
}

.fokartya-foto{
  object-fit: cover;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(20, 00%, 20%) 0 0 20px;
}

.referencia {
  width: 80%;
  height: auto !important;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(20, 00%, 20%) 0 0 20px;
  transition: transform 0.5s ease;
}

.referencia:hover {
  transform: scale(1.1);
}


.instalink{
  text-decoration: none; 
  color: grey;
  transition: transform 0.5s ease;
}

.instalink:hover{
  text-decoration: none; 
  color: teal;
  font-size: 18px;
}

/* **************************************************************************** */
/* COOKIE BANNER */
/* **************************************************************************** */
.cookies-eu-banner {
  background: #444;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.cookies-eu-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

.cookies-eu-banner button:hover {
  background: #fff;
  color: #222;
}

.hidden {
  display: none;
}

/* **************************************************************************** */
/* BLOG SITE */
/* **************************************************************************** */

.bloglist{
  position: relative;   
}

.btn-elolvasom {
  position: absolute !important;
  right: 30px;
  bottom: -30px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 17px 17px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: all;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  display: inline-block;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.0001vw;
}
  
.btn-elolvasom::after {
  background: url("https://img.icons8.com/ios/50/null/forward--v1.png") no-repeat center center;
  margin-left: 0px;
  display: inline-block;
  content: '';
  width: 23px;
  height: 20px;
  vertical-align: -3px;
}

.btn-elolvasom:hover{
    color: #fff;
    background: #691687;
}

.box-element-blog{
  box-shadow:hsl(40, 20%, 50%) 0 0 50px;
  background-color: #dee2e3;
  color: #464747;
  border-radius: 1px;
  height: 600px;
  padding-left: 0;
  font-size: 14px;
  justify-content: center;
  border-radius: 20px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.blog{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}


.blogpic{
  height: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 1s ease;
}

.blogpic:hover{
  transform: scale(1.1);
  transform: rotate(2deg) scale(1.1);
}

.cover-blog{
  object-fit: cover;
  width:100%;
  height:auto;
}

.blogpic-constraint{
  overflow:hidden;
  height: 300px;
  margin-top: 3px;
  border-radius: 20px;
}

.box-element-blog a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.bloglist-section h1{
  font-family: 'Unica One';
  color: #757575;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
}

.bloglist-section h2{
  font-family: 'Roboto';
}

.blog h2{
  text-transform: none;
  font-family: 'Baloo Thambi 2', cursive;
  color: #464747;
}

.blogpost-header-picture{
  border-radius: 30px;
  width: 100%;
  object-fit: contain;
}

.blog-post h1{
  font-family: Open Sans,sans-serif;
  text-transform: none;
}

.blog-post{
  font-family: 'Lato';
  font-size: 18px;
}

.blog-content{
  padding-left: 50px;
  padding-right: 50px;
}

.btn-blog-vissza {
  border-radius: 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  box-shadow:hsl(40, 20%, 50%) 0 0 20px;
  background: #d4d1cb;
  padding: 10px 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transition-property: all;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  display: inline-block;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.0001vw;
  transition: all 0.3s ease-out;
}
  
.btn-blog-vissza::before {
  background: url("https://img.icons8.com/external-kmg-design-outline-color-kmg-design/32/null/external-backward-arrow-kmg-design-outline-color-kmg-design.png") no-repeat center center;
  margin-left: 0px;
  display: inline-block;
  content: '';
  width: 40px;
  height: 40px;
  vertical-align: -12px;
}

.btn-blog-vissza:hover{
  color: #fff;
  background: #691687;
  transform:scale(1.01);
}

.datum{
  font-size: 14px;
  text-align: right;
  margin-right:30px;
  font-family: 'Baloo Thambi 2', cursive;
}

.back-wrapper{
  text-align: center;
  padding-top: 50px;
}

/* div { outline: 1px dashed blue } span { outline: 1px dashed green } */

/* div { */
    /* border: 1px solid rgb(0, 0, 0); */
/* } */

