@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* NAVBAR ITEMS */

 .navbar {
    flex-direction: column;
        -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

/*.navbar-fixed-top.scrolled {
  background-color: rgba(245, 158, 46, 0.781) !important;
  transition: background-color 200ms linear;

}*/
@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar-brand{

  font-family: Candara;
   -ms-transform: translateY(-35px);
  -o-transform: translateY(-35px);
  -moz-transform: translateY(-35px);
  -webkit-transform: translateY(-35px);
  transform: translateY(-35px);
}

.nav-item {
  position: relative;
}

@media (min-width: 768px) {
  header .navbar-default {
    padding: 20px;
  }
  .navbar-brand {
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    content: '';
    opacity: 1;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
    background: #ffffff;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(245, 158, 46, 0.781);
}

.dropdown-menu {
  border: 0px;
}

.nav-colored { background-color:rgba(245, 158, 46, 0.781);
                box-shadow:hsl(10, 50%, 10%) 0 0 6px;}

.nav-transparent { background-color:transparent;}

/*FOOTER*/
.custom-shape-divider-top-1633867814 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1633867814 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 138px;
}

.custom-shape-divider-top-1633867814 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1633870931 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633870931 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1633870931 .shape-fill {
    fill: #FFFFFF;
}






/* OTHER ELEMENTS */
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.ongray
 {
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: 0.3s linear;
}

.ongray:hover {
transform: scale(1.1);
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding-left: 3px;
  padding-right: 3p;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
img {
  -webkit-transition:-webkit-filter 0.5s ease-in-out;
  transition:-webkit-filter 0.5s ease-in-out;
}
.g {-webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

.wrapperconstraint-gallery{
  overflow:hidden;
  width: 100%;
  padding-top: 3px;
}


/*FOTO SITE*/
.gallery{
animation: 1.5s ease-out 0s 1 opac-in;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom:100%;
  transition: transform 1s ease;
}

.wrapper img{
      position: absolute;
      max-width: 110%;
      max-height: 110%;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      object-fit: cover;
      transition: transform 0.5s ease;
}

.description {
  position: absolute;
  background-color: rgba(230, 230, 230, 0.7);
  height: 120px;
  width: 100%;
  bottom: -30px;
  left: 0;
  text-align: center;
  padding-top: 20px;
  transform: translateY(90px);
  transition: transform 0.5s cubic-bezier(0.8, -0.2, 0.26, 1.8);
}

.wrapper:hover .description {
  transform: translateY(0);
}


.wrapper:hover{
transform: scale(1.1);
}

.wrapperconstraint{
  overflow:hidden;
  width: 100%;
}


.container-fluid{
padding: 3px;
}

/*BIO*/

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opac-in{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.bio-picture {
  max-width:90%;
  margin: 40px;
  margin-bottom: 100px;
  border-radius: 20px;
}

.bio-text{
padding: 40px;
overflow: hidden;
color: white;
font-family: Candara;
font-size: 16px;
text-align: center;
}

.bio-text h3{
color: rgb(153,101,21);
font-size:20px;
}

.bio-text h4{
color: rgb(153,101,21);
font-size:16px;
}

.bio-card {
background-color: hsl(0,0%, 20%);
max-width: 1200px;
margin: auto auto;
border-radius: 10px;
animation: 1.5s ease-out 0s 1 slideInFromBottom;
}


/*

 div { outline: 1px dashed blue } span { outline: 1px dashed green }

div {
    border: 1px solid rgb(0, 0, 0);;
}
*/
