@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Unica One');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

.logo{
height:200px;
}


/* NAVBAR ITEMS */

.navbar-fixed-top.scrolled {
  transition: background-color 200ms linear;
}

.navbar{
        box-shadow:hsl(10, 50%, 10%) 0 0 6px;
}

.navbar-light .navbar-nav .nav-link {
color: rgb(153,101,21);
}

.navbar .navbar-nav {
    margin:0 auto;
    font-family: Unica One;
    font-size: 32px;
}

.navbar .nav-item {
    padding: 1em 5em;
}

@media (min-width: 768px) {
  header .navbar-default {
    padding: 20px;
  }
  .navbar-brand {
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
}
.navbar-collapse ul li a.nav-link:before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    opacity: 1;
    -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.navbar-collapse ul li:hover a.nav-link:before {
    opacity: 1;
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    bottom: 0px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(245, 158, 46, 0.781);
}

.dropdown-menu {
  border: 0px;
}


/*SCROLL LOCKED RESPONSIVE CLASSES*/
.nav-colored {
    background-color: white;
    opacity: 0.9;
}

.nav-transparent { background-color:transparent;}

ul.navbar-nav>li.nav-item>a.nav-link.custom{
}

.navbar .nav-item.borderabove{
}

/*FOOTER*/
.custom-shape-divider-top-1633867814 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1633867814 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 138px;
}

.custom-shape-divider-top-1633867814 .shape-fill {
  fill: #FFFFFF;
}


.custom-shape-divider-top-1633867815 .shape-fill {
  fill: hsl(0,0%, 20%);;
}

.custom-shape-divider-bottom-1633870931 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633870931 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1633870931 .shape-fill {
    fill: #FFFFFF;
}






/* OTHER ELEMENTS */
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow:auto;
}

.ongray
 {
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: 0.3s linear;
}

.ongray:hover {
transform: scale(1.05);
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33.3%;
  padding-left: 3px;
  padding-right: 3p;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
img {
  -webkit-transition:-webkit-filter 0.5s ease-in-out;
  transition:-webkit-filter 0.5s ease-in-out;
}
.g {-webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  
.photog{
opacity:0.8;
}

.wrapperconstraint-gallery{
  overflow:hidden;
  width: 100%;
  max-height: 100%;
  margin-top: 3px;
}


/*FOTO SITE*/
.row.foto-gallery{
padding-left: 40px;
padding-right: 70px;
animation: 1.5s ease-out 0s 1 slideInFromLeft;
}


.gallery{
animation: 1.5s ease-out 0s 1 opac-in;
max-width: 90%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom:100%;
  transition: transform 1s ease;
}

.wrapper img{
      position: absolute;
      max-width: 110%;
      max-height: 110%;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      object-fit: cover;
      transition: transform 0.5s ease;
      -webkit-transition:-webkit-filter 0.5s ease-in-out;
      transition:-webkit-filter 0.5s ease-in-out;
}

.description {
  position: absolute;
  background-color: rgba(230, 230, 230, 0.9);
  height: 150px;
  width: 100%;
  bottom: -160px;
  left: 0;
  text-align: center;
  padding-top: 10px;
  transform: translateY(-90px);
  transition: transform 0.5s ease;
  font-family: Unica One;
  color: hsl(0,0%, 10%);
  font-size: 30px;
}

.wrapper:hover .description {
  transform: translateY(0);
}

.wrapper:hover{
transform: scale(1.1);
}

.wrapperconstraint{
  overflow:hidden;
  width: 100%;
}


.container-fluid{
padding: 3px;
}

/*BIO*/

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes opac-in{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.bio-picture {
  max-width:90%;
  margin: 40px;
  margin-bottom: 100px;
  margin-top: 130px;
  border-radius: 50%;
  opacity: 90%;
}

.bio-text{
padding: 40px;
overflow: hidden;
color: white;
font-family: Candara;
font-size: 20px;
text-align: center;
}

.bio-text h3{
color: rgb(153,101,21);
font-size:30px;
}

.bio-text h4{
color: rgb(153,101,21);
font-size:28px;
}

.bio-card {

max-width: 1400px;
margin: auto auto;
border-radius: 10px;
animation: 1s ease-out 0s 1 slideInFromLeft;
}

.container-fluid.bio{
    background-color: hsl(0,0%, 20%);
    padding-top: 150px;
}

.activity{
text-align: center;
font-size: 20px;
line-height: 2;
font-family: Unica One;
font-size: 24px;
}

.activity-icon{
height: 200px;
margin: auto;
opacity: 70%;
-moz-transition: all 0.8s ease-out;  /* FF4+ */
-o-transition: all 0.8s ease-out;  /* Opera 10.5+ */
-webkit-transition: all 0.8s ease-out;  /* Saf3.2+, Chrome */
-ms-transition: all 0.8s ease-out;  /* IE10? */
transition: all 0.8s ease-out;
}

.activity-icon:hover{
opacity: 0.3;
}

.sect-activity{
    animation: 1.5s ease-out 0s 1 slideInFromRight;
}

/*CONTACT SITE*/
.contact{
    background: hsl(0,0%,40%);
    opacity: 90%;
    padding: 80px;
    border-radius: 10px;
    color: hsl(0,0%,90%);
    box-shadow:hsl(10, 50%, 10%) 0 0 20px;
    font-family: Vollkorn;
    font-size: 24px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}


.form-control{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-group{
max-width:800px;
}

.form-group h1
{
    font-family: Unica One;
    font-size: 50px;
    text-align: center;
}

.form-intro{
margin: auto;
padding: auto;
}

/*
div { outline: 1px dashed blue } span { outline: 1px dashed green }

div {
    border: 1px solid rgb(0, 0, 0);;
}*/
